<!DOCTYPE html>
<html>
  <head>
    <title alt="#housewiththecooldoor">#housewiththecooldoor</title>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> 
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="google-site-verification" content="..." />
    <meta property="og:site_name" content="housewiththecooldoor" />
    <meta property="og:url" content="https://buddiepix.com" />
    <meta property="og:title" content="housewiththecooldoor | " />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="..." />
    <meta name="twitter:card" content="" />
    <meta name="twitter:url" content="https://housewiththecooldoor.com">
    <meta name="twitter:title" content="housewiththecooldoor | " />
    <meta name="twitter:image" content="..." />
      
  </head>

  <body>
  	
  	<%= render "layouts/header" %>
  	<%= render 'shared/message' %>
  	
  	<% if current_user %>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <% end %>
      
  	<div class="container">
  		<%= yield %>
  	
  	</div>
  
  </body>
</html>
